html,
body,
#app {
  height: 100%;
  width: 100%;
  background-color: var(--color-neutral-2);
  overflow: hidden;
}

@font-face {
  font-family: PuHuiTi;
  src: url("https://wegymercdn.gymcity.com.cn/fonts/Alibaba-PuHuiTi-Regular.ttf");
  font-weight: normal;
}

::view-transition-old(*) {
  animation: none;
}

[arco-theme=""]::view-transition-new(*) {
  animation: clip 0.5s ease-in;
}

[arco-theme=""]::view-transition-old(root) {
  z-index: 1;
}

[arco-theme=""]::view-transition-new(root) {
  z-index: 9999;
}

[arco-theme="dark"]::view-transition-old(*) {
  animation: clip 0.5s ease-in reverse;
}

[arco-theme="dark"]::view-transition-new(*) {
  animation: none;
}

[arco-theme="dark"]::view-transition-old(root) {
  z-index: 9999;
}

[arco-theme="dark"]::view-transition-new(root) {
  z-index: 1;
}

@keyframes clip {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }
  to {
    clip-path: circle(var(--r) at var(--x) var(--y));
  }
}
